<section>
  <div class="page-header">
    <h1><span data-ng-bind="vm.project.name"></span><span class="badge">{{ vm.project.repositories.length }}</span></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.project.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="projects.edit({ projectId: vm.project._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <p data-ng-bind="vm.project.description"></p>
  <div class="panel panel-default" data-ng-repeat="repository in vm.project.repositories" data-ng-init="vm.getGitHub(repository.full_name)">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{{ vm.repositories[repository.full_name].html_url }}">{{ vm.repositories[repository.full_name].full_name }}</a>
        <span class="badge">S {{ vm.repositories[repository.full_name].stargazers_count }}</span>
        <span class="badge">F {{ vm.repositories[repository.full_name].forks_count }}</span>
        <span class="badge">W {{ vm.repositories[repository.full_name].subscribers_count }}</span>
        <span class="badge">B {{ vm.repositories[repository.full_name].default_branch }}</span>
        <span class="badge">W {{ vm.repositories[repository.full_name].homepage }}</span>
        <span class="badge">L {{ vm.repositories[repository.full_name].language }}</span>
        <span class="badge">I {{ vm.repositories[repository.full_name].open_issues_count }}</span>
      </h3>
    </div>
    <div class="panel-body">
      <div class="col-md-2">
        <img src="{{ vm.repositories[repository.full_name].owner.avatar_url }}"/>
      </div>
      <div class="col-md-10">
        <p>{{ vm.repositories[repository.full_name].description }}</p>
        <p>Created on {{ vm.repositories[repository.full_name].created_at }}, Updated on {{ vm.repositories[repository.full_name].updated_at }}</p>
      </div>
    </div>
  </div>

  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.project.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.project.user"
            data-ng-bind="vm.project.user.displayName"></span>
      <span data-ng-if="!vm.project.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.project.content"></p>
</section>
